
<section class="card">
  <div class="small">Explorar</div>
</section>
<div class="grid3">
  <% posts.forEach(p => { %>
    <a href="/post/<%= p.id %>"><img src="<%= p.image_url %>" alt=""></a>
  <% }) %>
</div>
