<div class="card">
  <h3>Entrar</h3>
  <% if (typeof error !== 'undefined') { %><div class="small" style="color:#ff8080"><%= error %></div><% } %>
  <form method="post">
    <input class="input" name="username" placeholder="Usuário" required>
    <input class="input" name="password" type="password" placeholder="Senha" required>
    <button class="btn primary">Entrar</button>
  </form>
  <div class="small">ou <a href="/register">crie uma conta</a></div>
</div>
